<!-- views/loggedIn.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, {{ user.username }}</title>
</head>

<body>
    <h1>Welcome, {{ user.username }}!</h1>
    <p>Email: {{ user.email }}</p>

    <!-- Add other content or features for the logged-in user -->

    <a href="/auth/logout" method="GET">Logout</a>
</body>

</html>