<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
</head>

<body>
    <h1>Login</h1>
    <form id="loginForm" action="/auth/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{username}}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{password}}" required>

        <button type="submit">Login</button>
    </form>
</body>

</html>